@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }

  .advanteges {
    gap: 72px 24px;
    justify-content: space-around;
  }

  .advantages-title {
    text-align: start;
  }

  .advantages-text {
    max-width: 356px;
  }

  .main-container-team {
    width: 768px;
    padding: 0 108px;
  }

  .team {
    gap: 64px 24px;
  }

  .portfolio-list {
    gap: 72px 24px;
  }

  .footer-container {
    padding: 0 108px;
    justify-content: flex-start;
    gap: 72px 24px;
    align-items: baseline;
  }

  .footer-container-logo {
    justify-content: flex-start;
  }

  .logo-footer {
    text-align: start;
  }

  .footer-social-title {
    text-align: start;
  }

  .footer-box-form form {
    flex-direction: row;
    gap: 24px;
  }

  .footer-form-title {
    text-align: start;
  }

  .footer-form-input {
    width: 264px;
  }

  .footer-text {
    max-width: 264px;
  }

  .container-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../img/tablet-bg-hero.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    .container-hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../img/tab-bg-hero-2x.jpg);
    }
  }

  .container-hero {
    width: 768px;
    padding: 112px 136px;
  }

  .main-title {
    font-size: 56px;
    text-transform: none;
    width: 496px;
  }

  .button-title {
    margin-top: 36px;
  }

  .main-nav {
    padding: 24px 16px;
    position: relative;
  }

  .nav {
    display: flex;
  }

  .open-btn-mob {
    display: none;
  }

  .logo-header {
    margin-right: 120px;
  }

  .contacts-header {
    position: absolute;
    right: 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .nav {
    display: flex;
    gap: 40px;
  }
}

@media screen and (min-width: 1158px) {
  .section {
    padding: 120px 0;
  }

  .container {
    width: 1158px;
    padding: 0 15px;
  }

  .advanteges {
    flex-wrap: nowrap;
  }

  .advantages-title {
    font-size: 20px;
    margin-top: 8px;
    font-weight: 500;
    text-transform: capitalize;
  }

  .advantages-text {
    font-weight: 400;
  }

  .adventeges-box-icon {
    display: flex;
    padding: 24px 0;
  }

  .portfolio-list {
    gap: 48px 24px;
  }

  footer {
    padding: 100px 0;
  }

  .footer-box-social {
    margin-left: 120px;
  }

  .footer-container {
    align-items: baseline;
  }

  .footer-box-form {
    margin-left: 80px;
  }

  .footer-container {
    gap: 0;
  }

  .container-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../img/main-bg-hero.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    .container-hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../img/main-bg-hero-2x.jpg);
    }
  }

  .container-hero {
    padding: 188px 472px;
    width: 1440px;
  }

  .button-title {
    margin-top: 48px;
  }

  .main-nav {
    padding: 24px 16px;
  }

  .contacts-header {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .logo-header {
    margin-right: 76px;
  }
}

@media screen and (max-width: 767px) {
  .check-icon-box {
    position: absolute;
    left: 0;
  }

  .checkbox-label-text {
    margin-left: 24px;
  }

  .modal {
    max-width: 288px;
    max-height: 623px;
  }
}
